$webkit-scrollbar-width: 6px;
$webkit-scrollbar-height: 6px;
$webkit-scrollbar-border-radius: 10px;
$webkit-scrollbar-color: var(--el-color-primary-light-3);
$webkit-scrollbar-hover-color: var(--el-color-primary);

$layout-aside-z-index: 10;
$aside-header-height: 56px;
$aside-menu-height: 40px;
$aside-menu-padding-left: 6px;
$aside-menu-padding-right: 6px;
$aside-menu-box-shadow: 2px 0 12px #1d23290d;
